#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

/* div styles */
.vertical-stack {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}

/* toggle switch */

.toggle-switch {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	gap: 0.5rem;
	user-select: none;
}

.toggle-switch input {
	display: none;
}

.toggle-switch .slider {
	position: relative;
	width: 50px;
	height: 25px;
	background-color: #ccc;
	border-radius: 25px;
	transition: background-color 0.3s;
}

.toggle-switch .slider::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: 21px;
	height: 21px;
	background-color: white;
	border-radius: 50%;
	transition: left 0.3s;
}

.toggle-switch input:checked + .slider {
	background-color: #4caf50;
}

.toggle-switch input:checked + .slider::before {
	left: 26px;
}

.toggle-switch .label-text {
	font-weight: bold;
	font-family: sans-serif;
}
